.text-white{
	color: white;
}
.text-gray{
	color: #D5D8DC;
}
.gray-m{
	background-color: #34495E;
}
.nar{
	background-color: #D35400;
	padding: 0.7%;
}
.white-bck{
	background-color: white;
	padding: 0.5%;
}
.html-b{
	width: 95%;
}
.css-b{
	width: 90%;
}
.js-b{
	width: 50%;
}
.php-b{
	width: 60%;
}
.phi-b{
	width: 85%;
}
/*Seccion What we do*/
.verde{
	background-color: #28B463;
}
.btn-black{
	background-color: black;
}





