/*Color de texto*/
.text-white{
	color: white;
}
.text-gray{
	color: #D5D8DC;
}
.text-nar{
	color: #E67E22;
}
/*Padding y margin*/
.pd-3{
	padding: 2% 10%;
}
.gray-m{
	background-color: #34495E;
}
.nar{
	background-color: #D35400;
	padding: 0.7%;
}
.white-bck{
	background-color: white;
	padding: 0.5%;
}
.html-b{
	width: 95%;
}
.css-b{
	width: 90%;
}
.js-b{
	width: 50%;
}
.php-b{
	width: 60%;
}
.phi-b{
	width: 85%;
}
/*Seccion What we do*/
.verde{
	background-color: #28B463;
}
.btn-black{
	background-color: black;
}
/*Sección Best price*/
.borde-verde{
	border: 1px solid #28B463;
}
.bck-cafe{
	background-color: #873600;
	margin-top: 0%;
}
/*Seccion de redes sociales*/
.redes-bck{
	background-image: url("../img/img-divider-img.jpg");
	background-position: center;
	padding: 10% 0%;
}