/*Color de texto*/
.text-white{
	color: white;
}
.text-gray{
	color: #D5D8DC;
}
.text-nar{
	color: #E67E22;
}
/*Padding y margin*/
.pd-3{
	padding: 2% 10%;
}
.pd-5{
	padding: 0% 7%;
}
.mg-1{
	margin-top: 1%;
}
.mg-t2{
	margin-top: 2%;
}
.mg-t5{
	margin-top: 5%;
}
.mg-t10{
	margin-top: 10%;
}
.mg-t15{
	margin-top: 15%;
}
.mg-b5{
	margin-bottom: 5%;
}
.mg-1{
	margin: 1%;
}
/*Cambia el color del navegador*/
nav.navbar {
    background-color: #28B463;
    margin-bottom: 0%;
}
.hr-subtgray{
	width: 30%;
	border: solid 1px gray;
}
.hr-subt{
	width: 30%;
	border: solid 1px white;
}
/*colores*/
.paleta{
	padding-bottom: 8%; 
}
.color-1{
	background-color: #69D2E7;
}
.color-2{
	background-color: #A7DBDB;
}
.color-3{
	background-color: #E0E4CC;
}
.color-4{
	background-color: #F38630;
}
.color-5{
	background-color: #FA6900;
}
.color-6{
	background-color: #E94C6F;
}
.color-7{
	background-color: #542733;
}
.color-8{
	background-color: #5A6A62;
}
.color-9{
	background-color: #C6D5CD; 
}
.color-10{
	background-color: #FDF200;
}
.color-11{
	background-color: #DB3340;
}
.color-12{
	background-color: #E8B71A;
}
.color-13{
	background-color: #F7EAC8;
}
.color-14{
	background-color: #1FDA9A;
}
.color-15{
	background-color: #28ABE3;
}
.color-16{
	background-color: #588C73;
}
.color-17{
	background-color: #F2E394;
}
.color-18{
	background-color: #F2AE72;
}
.color-19{
	background-color: #D96459;
}
.color-20{
	background-color: #8C4646;
}
.color-21{
	background-color: #D0C91F;
}
.color-22{
	background-color: #85C4B9;
}
.color-23{
	background-color: #008BBA;
}
.color-24{
	background-color: #DF514C;
}
.color-25{
	background-color: #DC409B;
}

/*fin de colores*/
.gray-m{
	background-color: #34495E;
}
.nar{
	background-color: #D35400;
	padding: 0.7%;
}
.white-bck{
	background-color: white;
	padding: 0.5%;
}
.html-b{
	width: 95%;
}
.css-b{
	width: 90%;
}
.js-b{
	width: 50%;
}
.php-b{
	width: 60%;
}
.phi-b{
	width: 85%;
}
/*Seccion What we do*/
.verde{
	background-color: #28B463;
}
.btn-black{
	background-color: black;
}
.icon {
 -webkit-transition: -webkit-transform 1s ease-out;
 -moz-transition: -moz-transform 1s ease-out;
 transition: transform 1s ease-out;
}
.icon:hover {
 -webkit-transform: rotate(300deg);
 -moz-transform: rotate(300deg);
 transform: rotate(300deg);
 background-color: #D35400;
}
.hr-dashed{
	border: 1px dashed white;
	width: 50%;
}

/*Sección Best price*/
.borde-verde{
	border: 1px solid #28B463;
}

.bck-white{
	background-color: white;
	margin: 0%;
	padding: 2%;
}
.pricev{
	margin: 0%;
	padding: 7%;
}

/*Seccion de redes sociales*/
.redes-bck{
	background-image: url("../img/img-divider-img.jpg");
	background-position: center;
	padding: 10% 0%;
}

@media screen and (max-width: 767px) {
    .titulo {
        font-size: 1em;
        font-weight: bolder;
    }
    .subti{
    	font-size: 2.5em;
    }
    .parslider{
    	font-size: 0.8em;
    }
    .iconred{
    	font-size: 3em;
    }
    .colorestam{
    	font-size: 0.8em;
    }
    .agency{
    	width: 50%;
    }
    .client{
    	font-size: 1.5em;
    }
}
@media screen and (min-width: 768px) and (max-width: 940px){
	.titulo{
		font-size: 2em;
	}
}